body{
    background-image: url(http://www.freedigitalphotos.net/images/gallery-thumbnails.php?id=1975324613311748031269183);
}
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#body{
    width:350px;
    float:left;
    padding:10px;
    background-color:red;
}
#pic
{
    margin:34px;
    width:350px;
    position:relative;
    bottom:-100px;
    
}
img
{
    display:block;
    margin: 0 auto;
    max-height:70%;
    max-width:100%;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
   
}
